<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Title</title>
    <script src="static/Javascript/Sorting.js"></script>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/visualizer.css') }}">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/sortingCSS.css') }}">
</head>
{% extends "base.html" %}
<body>
  {% block header %}

    <div align="center">
        <a href="/" class="btn btn-outline-warning" >Back to the Main Page</a></div>
    <div class="container " style="margin-top: 40px;">
    <form action="/runAlgo" method="POST">
    <button type="button" class="btn btn-outline-warning" onclick="Clear()">Clear</button>
    <button type="button" class="btn btn-outline-warning" onclick="generateArray(1,100,40)">Generate Random Array</button>
    <input type="submit"  class="btn btn-outline-warning" value="Sort" id='submit'>
    </form>

    </div>
  <div class="form-group" style="margin:0 auto;" >
    <select  class="custom-select" id="algorithm" style="background-color: rgba(8,13,30,0.76); color: #ffce11" required>
      <option value="Insertion Sort">Insertion Sort</option>
      <option value="Merge Sort">Merge Sort</option>
      <option value="Quick Sort">Quick Sort</option>
      <option value="Bubble Sort">Bubble Sort</option>
    </select>
  </div>

    {% endblock header %}
{% block content %}
  <div class="container" style="margin-top: 20px;">
        <div class="slidecontainer">
  <input type="range" min="1" max="150" value="135"  class="slider" id="myRange">
            <p>Animation Speed: <span id="demo"></span></p></div></div>
 <script>
        var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
  return this.value
}
</script>

<div class="array-container" id="array">

</div>
  {% endblock %}
</body>
</html>